
//font-family: 'Source Sans Pro', serif
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700)

//font-family: 'Playfair Display SC', serif
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC)

//font-family: 'Ovo', serif
@import url(https://fonts.googleapis.com/css?family=Ovo)

//font-family: 'Montserrat', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Montserrat)

$font1: 'Source Sans Pro'
$font2: 'Playfair Display SC'
$font3: 'Ovo'
$font4: 'Montserrat'
