@media (max-width: 1270px)
  body
    header
      // width: 80vw
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six



@media (max-width: 990px)
  body
    header
      // width: 100vw
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          // background: green
          // margin: 10px 42px
          height: 100px
          width: 100px

@media (max-width: 750px)
  body
    header
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          height: 80px
          width: 80px

@media (max-width: 660px)
  body
    header
      .nav-buttons-wrapper
        padding: 0 100px
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          height: 140px
          width: 140px

@media (max-width: 630px)
  body
    header
      .nav-buttons-wrapper
        padding: 0
        justify-content: center
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          margin: 15px 15px

@media (max-width: 500px)
  body
    header
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          height: 100px
          width: 100px

@media (max-width: 415px)
  body
    header
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          height: 100px
          width: 100px

@media (max-width: 385px)
  body
    header
      .nav-buttons-wrapper
        width: 100%

@media (max-width: 300px)
  body
    header
      .nav-buttons-wrapper
        .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
          width: 100%
          margin: 0
          border-radius: 0
          &:hover
            transform: none


@media (max-width: 1200px)
  section.pictures-body
    .col5
      display: none

@media (max-width: 1000px)
  section.pictures-body
    .col4
      display: none

@media (max-width: 750px)
  section.pictures-body
    .col3
      display: none

@media (max-width: 650px)
  .pictures-page-overlay
    .pictures-header
      hr
        display: none
    .pictures-content
      .pictures-side
        hr#static-hr
          margin: 0
        width: 200px
        h2
          // background: red
          margin-left: 5px
        ul
          li
            // background: red
            padding: 5px 5px

@media (max-width: 520px)
  section.pictures-body
    .col2
      display: none

@media (max-width: 450px)
  .pictures-page-overlay
    .pictures-content
      .pictures-side
        display: none

@media (max-width: 1000px)
  .contact-page-overlay
    .contact-content-wrapper
      .contact-body
        section#contact
          .contact-section-wrapper
            flex-direction: column-reverse
            article
              margin: 5px 1px
              width: 100%
            iframe
              width: 100%

@media (max-width: 750px)
  .contact-page-overlay
    header.contact-header
      padding-top: 70px
      height: 70px
      p
        padding-bottom: 0
        margin-bottom: 0
      // background: red
    .contact-content-wrapper
      .contact-side
        display: none
      .contact-body
        padding: 0 20px
        margin-left: 0

@media (max-width: 250px)
  .contact-page-overlay
    .contact-content-wrapper
      .contact-body
        iframe
          display: none
