//colors
$overlay-bg: black
$video-filter: rgba(0,0,0,0.45)
$section-header: #021d21
$section-article: #011012
$main-text-color: #cbcaca

//z-indexes
$z-video-container:      0
$z-vidfilter-overlay:    2
$z-nav-buttons-wrap:     3
$z-overlay:              5
$z-page-logo:            10
